@charset "utf-8";

// #variáveis

// color
$primary: #2563eb;
$primary-variant: #3730a3;
$secondary: gray;

// #mixin

// #base
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

// #layout
#body {
    display: grid;
    height: 100vh;
    place-items: center;
    width: 100%;
    background-color: #1e40af;
}

.keyboard {
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(4, 1fr);
}

.key {
    $column: 4;
    &__minus {
        grid-column-start: $column;
        grid-row-start: 2;
    }

    &__plus {
        grid-column-start: $column;
        grid-row-start: 3;
    }

    &__equals {
        grid-column-start: $column;
        grid-row: 4/6;
    }

    &__zero {
        grid-column: span 2;
    }
}

// #componentes

.key {
    border-radius: 4px;
    border-style: none;
    color: white;
    font-size: 1.5rem;
}

.key {
    &__number {
        background-color: $secondary;
    }
    &__operator {
        background-color: $primary;
    }
    &__equals {
        background-color: $primary-variant;
    }
}

.background {
    border-radius: 8px;
    padding: 1.5rem;
}

.i-circle {
    font-size: 0.3rem;
}
