@charset "utf-8";

// ---------------
// # Variables
// ---------------

// colors
$primary: #2563eb;
$primary-variant: #2dd4bf;
$secondary: #71717a;
$bg-body: #e2e8f0;
$bg-screen: #fff;
$text-number: #fff;
$text: #000;

// gradients
$background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);

// shadow
$shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
$shadow-key: $shadow, inset 2px 2px 2px rgba(255, 255, 255, 0.4);
$shadow-inset: inset $shadow;

// others
$rounded: 6px;
$rounded-lg: 24px;

// ---------------
// # Function
// ---------------

@function dark($color, $percent: 80%) {
    @return mix($color, #000, $percent);
}

// ---------------
// # Base
// ---------------

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

// ---------------
// # Typography
// ---------------

:root {
    font-size: 16px;
}

.text-title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    user-select: none;
}

.text-screen {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 500;
}

.text-result {
    font-weight: 700;
}

.screen__equals {
    user-select: none;
    font-weight: 800;
}

.key {
    font-size: 1.5rem;
}

.i-circle {
    font-size: 0.25em;
}

// ---------------
// # Layout
// ---------------

#body {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.screen__result,
.screen__operation {
    display: flex;
    align-items: center;
}

.keyboard {
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(4, 1fr);
}

.key {
    $column: 4;
    &__minus {
        grid-column-start: $column;
        grid-row-start: 2;
    }

    &__plus {
        grid-column-start: $column;
        grid-row-start: 3;
    }

    &__equals {
        grid-column-start: $column;
        grid-row: 4/6;
    }

    &__zero {
        grid-column: span 2;
    }
}

// ---------------
// # Components
// ---------------

.background {
    border-radius: $rounded-lg;
    padding: 0 28px;
    padding-bottom: 28px;
}

.screen {
    border-radius: $rounded;
    margin-bottom: 16px;
    padding: 0 12px;
}

.screen__result,
.screen__operation {
    height: 2.4rem;
}

.text-title {
    margin: 12px 0;
}

.key {
    border-radius: $rounded;
    border: none;
    padding: 4px 14px;
}

// ---------------
// # Theme: default
// ---------------

#body {
    background-color: $bg-body;
}

.background {
    box-shadow: $shadow;
    background: $background;
}

.screen {
    box-shadow: $shadow-inset;
    background-color: $bg-screen;
}

.text-title {
    color: $bg-screen;
    text-shadow: $shadow;
}

.text-screen {
    color: $secondary;
}

.text-result {
    color: $text;
}

.key {
    box-shadow: $shadow-key;
    color: $text-number;

    &__number {
        background-color: $secondary;
    }
    &__operator {
        background-color: $primary;
    }
    &__equals {
        background-color: $primary-variant;
    }
}

.key {
    &__number:hover {
        background-color: dark($secondary);
    }
    &__operator:hover {
        background-color: dark($primary);
    }
    &__equals:hover {
        background-color: dark($primary-variant);
    }
}

.key {
    &__number:active {
        box-shadow: $shadow-inset;
    }
    &__operator:active {
        box-shadow: $shadow-inset;
    }
    &__equals:active {
        box-shadow: $shadow-inset;
    }
}

// ---------------
// # utilities
// ---------------
